body {
    font-weight:200;
}
#logo{
    color:white;
    font-size:32px;
    margin-left:10px;
    margin-top:-2px;
}
#top {
    background: black;
    padding-top:20px;
    padding-bottom:10px;

}
#newsubmitbtn{
    margin-top:0px;
}

#mid {
	margin-top:100px;
}
input.large-font{
    font-size:120%; 
}

#top,#mid {
    text-align:center;
}
.completed_task_wrapper:hover,.task_wrapper:hover {
    background-color:#F7F6F6;
    cursor:pointer;
}

#taskmodal {
    max-height:95%;
    overflow-y: auto;
    width: 600px;
    margin-left: -300px !important;
    margin-top: -50px !important;
}
.modal-body {
    max-height:none;
}
label {
    font-weight: bold;
}
#tasklabel{
    display:inline;
}
#completebtn{
    margin-right:5px;
}
#deletebtn{
    margin-right:8px;
}
div.sectionheading{
	background-color:black;
	margin-bottom:30px;
	margin-top:30px;
	padding:5px;
	height:50px;
	color:white;
	border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border: 0px solid #000000;
}
tr.jason_color {
	background-color:#FFFF00;
}
tr.carlos_color{
	background-color:#FAAC58;
}
tr.han_color {
	background-color:#CAF3F7;
}
tr.pat_color {
	background-color:#33D633;
}
div.tablesorter-header-inner{
	display:inline;
}