body{
    font-weight: 200;
    padding-top: 100px;
}

#slogan {
    font-size:30px;
}
#topnav{
    padding-top:15px;
    color:white;
}
#runbtn{
    margin-top:0;
    margin-right:5px;
}
@media (min-width:768px)
{
    .sidebar{
        position: fixed;
        top:100px;
        left:0;
        bottom:0px;
        display:block;
        z-index: 1000;
        padding:20px;
        overflow-x:hidden;
        overflow-y:auto;
        border-right:1px solid #eee;
        background-color:#f5f5f5;
        border-radius:5px;

    }
}
@media (max-width:768px)
{
    .sidebar{
        display:none;
    }
}

.nav-sidebar{

}
.nav>li{
    position: relative;
    display:block;
    font-size:15px;
}
.sub-header{
    margin-top:50px;
    padding-bottom:10px;
    
}
.check_box{
    margin-bottom:10px;
}
.navbar-btn{
    font-size:40px;
}
#main,#progress,#queue,#history,#env{
    padding-top:120px;
}

.inline_header{
    display:inline;
}